button
{
    width: 10%;
    height: 20%;
    margin-bottom: 15px;
    border:2px solid red;
    border-radius: 20px;
    background-color: white;
    color: black;
}
button:hover
{
    background-color:black ;
    color: white;
    cursor: pointer;
    border-color: blue;

}